body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: grey;
  font-size: 16pt;
}
p {
  font-family: sans-serif;
}
ul {
  font-size: 20px;
  line-height: 30px;
}
img {
  max-width: 100%;
}
.logo {
  max-width: 50px;
}
.parallax-text {
  color: white;
  line-height: 800px;
  margin: auto, auto, auto, auto;
  justify-content: center;
  align-items: center;
  background: rgba(100, 40, 0, .5);
}
